@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Inconsolata:wght@300&display=swap');

/** VERIABLES **/

$primary-font: 'Cinzel', serif;
$secondary-font: 'Inconsolata', monospace;
$primary-color: #FF8B00;
$secondary-color: #27282a;
$date-color: #CB40CF;
$comment-color: #a7e325;
$gray-color: #9f9f9f;
$light-color: #EFEEE5;

/** UTILITIES **/


.bg{
    &-dark{
        background-color: $secondary-color;
    }

    &-light{
        background-color: $light-color;
    }
}

.ml{
    &-2{
        margin-left: 2rem;
    }
}